.main{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.buttons{
  border: 3px black solid;
  display: flex;
  background: linear-gradient(90deg, #9ebd13 0%, #008552 100%);
  align-self: center;
  justify-content:space-evenly;
  padding: 25px;
}
.btn{
  padding: 25px;
  padding-left: 50px;
  padding-right: 50px;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: medium;
  font-style: italic;
}
